<div class="card bg-c-blue order-card">
    <div class="card-block">
        <h6 class="m-b-20">Orders Received</h6>
        <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>486</span></h2>
        <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
    </div>
</div>

@code {
    
}