@using AdminApp.Shared

@inherits BaseComponent<AdminApp.Shared.ServersViewModel>

@page "/servers"

<PageTitle>Servers</PageTitle>

<h3>Servers</h3>

@if (State is ComponentState.Loading)
{
    <span>Loading...</span>
}

@if (State is ComponentState.Error)
{
    <span>Error: @Error</span>
}

@if (State is ComponentState.Data)
{
    <span>Data</span>
}

@code {
    
    protected override Task InitializeAsync()
    {
        ViewModel = new ServersViewModel();
        return Task.CompletedTask;
    }

    protected override async Task RefreshAsync()
    {
        await Task.Delay(2000);
    }
    
}